*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.hero{
    max-height: 100vh;
    width: 100%;
}
body{
    background-image: url('./back.png');
    background-size: cover;
}
nav{
    display: flex;
    padding-top: 45px;
    padding-left: 8%;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
nav ul li{
    list-style-type: georgian;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: brown;
    transition: 0.5s;
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}
p{
    color: white;
}
.content h4{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.content h1{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
}
.back {
    background-color: #fff;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-facebook {
    background: black;
    color: palevioletred;
}
.fa-instagram {
    background: black;
    color: palevioletred;
}
.fa-youtube {
    background-color: black;
    color: palevioletred;
}
